<app-home-header></app-home-header>
<!-- <div [innerHtml]="text"></div> -->
<!------The Header (Terms And Condition)-->
<h1 style="color: #ba212c">Terms and Conditions</h1>

<!------First Star Rule----->
<p style="font-weight: 600;">
    <i class="fa fa-star"></i>
     If you are a user of the 
     <span style="color: #ba212c;">GlobalOn</span>
      website to display your products for the purpose of selling them, then you 
      <span style="font-weight: bolder;">agree</span> 
      to abide by the terms of use written below. 
      <span style="color: #ba212c;">GlobalOn </span>
      reserves the right to 
      <span style="font-weight: bolder;">change</span>
    any of these terms at any time in accordance with the company's interest by publishing
     the new terms on the website.</p>

<!------Secound Star Rule--->
<p style="font-weight: 600;">
    <i class="fa fa-star"></i>
    <span style="color: #ba212c;"> GlobalOn</span>
     is a company that specializes in 
     <span style="font-style: italic;">displaying products</span>
      on its website or application for customers who wish to
       <span style="font-style: italic;">sell and market</span>
        these products of all kinds, 
        <span style="color: #ba212c;">GlobalOn</span>
         is an advertising broker that helps users interested in
          <span style="font-style: italic;">buying and selling to publish</span>
           their products through the website and mobile applications.</p><hr><br>


<!--------First Circled Rule-------------------->
<p>
    <i class="fa fa-circle-o"></i>
     The buying and selling operations 
     <span style="font-weight: bolder;">takes place</span>
      under the supervision of the 
      <span style="font-style: italic;" >seller and the buyer personally</span>, and 
      <span style="font-weight: bold; font-style: italic;">the site does not interfere in that</span>,
       and the responsibility of the site is limited to
        <span style="font-weight: bold; font-style: italic;">
             the buyer directly to the owner without any intermediary</span>,
         and the two parties must ensure all information and data before completing any 
         <span style="font-style: italic;">sale or purchase</span> transaction.</p>

<!---------Secound Circled Rule----------------->
<p>
    <i class="fa fa-circle-o"></i>
     The ads displayed on the 
     <span style="color: #ba212c;">GlobalOn</span> 
     website, the displayed images, and any other details 
     <span style="font-weight: bold; font-style: italic;">
        are the responsibility of the advertiser only</span>,
      and the advertiser bears full legal responsibility for these data, details and contents displayed
       on the website.</p><hr><br>

<!---------Third Star Rule---------->
<p style="font-weight: 600;">
    <i class="fa fa-star"></i>
    <span style="color: #ba212c;"> GlobalOn</span>
     reserves the right to 
     <span style="font-weight: bolder;">delete</span> 
     any advertisement that 
     <span style="font-weight: bold;">violates</span> 
     the terms of use of the site or 
     <span style="font-weight: bold;">violates</span> 
     the laws of advertising on websites in the United Arab Emirates at any time without referring 
     to the owner of the advertisement, and the user must abide by the rules of publishing on the site
      in terms of the content's suitability to the conditions of publication, and the legal conditions
       for publication On the websites.
</p><br>

<!--------Last Text (The Awarness)-->
<p style="font-weight: bolder;">
<i class="fa fa-circle"></i>
 In the event that you wish to sell and market through 
 <span style="color: #ba212c;">GlobalOn</span>,
  you are aware of all the conditions for advertising on 
 <span style="color: #ba212c;">GlobalOn</span>.
</p>
<!------------------------------------------------------------------------------->

<app-footer></app-footer>
