<app-home-header></app-home-header>

<section class="addAdvertSection">
    <div class="row">
        <div class="container">

            <form class="advertForm" [formGroup]="addAdvertForm">
                <div class="text-center">
                    <h1>Add Advert</h1>
                </div>
                <div class="form-row">
                    <div class="col">
                    <label for="category">Category</label>
                    <select formControlName='Category' 
                    class="form-control" id="category" (change)="fillSubCategories($event.target)">
                    <option value="" disabled selected hidden>Choose Category</option>
                    <option *ngFor="let cat of categories" [value] = "cat.Id">{{cat.Name}}</option>
                      </select>
                  

                     <div *ngIf="GetInputStatues('Category')!.invalid" class="text-danger">
                        Category is a required field.
                    </div>
                    </div>
                     
                    <div class="col">
                    <label for="sub-category">Sub-Category
                        <span class="text-danger"> If it is exist</span>
                    </label> 
                    <select formControlName="Sub-Category" [disabled]="!hasSubCategory" 
                     id="sub-category" class="form-control"  type="text" placeholder="Sub-Category">
                     <option value="" disabled selected hidden>Choose Sub-Category</option>
                     <option *ngFor="let sub of subCategory" [value]="sub.Id">{{sub.Name}}</option>
                    </select>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="title">Title</label>
                    <input formControlName="Title"
                      class="form-control"  type="text"
                     placeholder="Product Title">
                     <div *ngIf="GetInputStatues('Title')!.invalid" class="text-danger">
                        Title is a required field.
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea formControlName="Description"
                     id="description" class="form-control"  rows="3"
                     placeholder="Write your description..."></textarea>
                     <div *ngIf="GetInputStatues('Description')!.invalid" class="text-danger">
                        Description is a required field.
                    </div>
                </div>

                <div class="form-group">
                    <label for="images">Images</label>
                    <input formControlName="Images"
                     id="images" class="form-control-file" type="file"  
                     (change)="onSelectedFile($event)"  multiple>
                    
                     <img [src]="imageSrc" *ngIf="imageSrc" 
                     style="height: 150px; width: 150px;margin-top: 13px;">
                     <div *ngIf="GetInputStatues('Images')!.invalid" class="text-danger">
                        Images is a required field.
                    </div>
                </div>

                <div class="form-group">
                    <label for="VideoLinks">Video Links
                        <span class="text-danger"> If it is exist</span></label>
                    <input formControlName="Video Links"
                      id="VideoLinks" class="form-control"
                       type="url" placeholder="e.g Youtube/My Advertise.com">
                </div>

                <div class="form-row">
                    <div class="col">
                    <label for="price">Price</label>
                    <input formControlName="Price"
                     id="price" class="form-control"  type="text" placeholder="AED"> 
                    </div>
                    
                     
                    <div class="col">
                    <label for="condition">Condition</label>
                    <select formControlName="Condition" id="condition" class="form-control">
                        <option disabled selected>Choose Condition</option>
                        <option value="true">New</option>
                        <option value="false">Used</option>
                    </select>
                </div>
                
                    <div class="col">
                        <label for="warranty">Warranty</label>
                        <select formControlName="Warranty"
                         id="warranty" class="form-control">
                            <option disabled selected>Yes/No</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    
                    </div>
                    <div *ngIf="GetInputStatues('Price')!.invalid" class="text-danger">
                        Price is a required field.
                    </div>
                    <div *ngIf="GetInputStatues('Condition')!.invalid" class="text-danger">
                        Condition is a required field.
                    </div>
                    <div *ngIf="GetInputStatues('Warranty')!.invalid" class="text-danger">
                        Warranty is a required field.
                    </div>


                    <h3 class="mt-5">
                    <i class="fa fa-bullet-point"></i>Information about advertiser
                    </h3>
                        <div class="form-group">
                            <label for="advertiserName">1:Name</label>
                            <input formControlName="Name" [value]="userName"
                             id="advertiserName" type="text" class="form-control"
                             [placeholder]="userName">
                             <!-- <div *ngIf="GetInputStatues('Name')!.invalid" class="text-danger">
                                Name is a required field.
                            </div> -->
                             <label for="advertiserPhone">2:Phone Number</label>
                            <input formControlName="Phone Number" [value]="userPhoneNumber"
                              id="advertiserPhone" type="number" class="form-control"
                             [placeholder]="userPhoneNumber">
                             <!-- <div *ngIf="GetInputStatues('Phone Number')!.invalid" class="text-danger">
                                Phone Number is a required field.
                            </div> -->
                             <label for="emirate">3:Choose Emirate</label>
                             <select formControlName="Choose Emirate"
                              id="emirate" class="form-control">
                              <option value="" disabled selected hidden>Select To Choose Emirates</option>
                                 <option *ngFor="let city of cities" [value]="city.Id"
                                 >{{city.Name}}</option>
                                 
                             </select>
                             <div *ngIf="GetInputStatues('Choose Emirate')!.invalid"
                              class="text-danger">
                                Choose Emirate is a required field.
                            </div>
                             
                             <label for="advertiserAdress">4:Adress in details</label>
                             <input formControlName="Adress-in-details"
                              id="advertiserAdress" class="form-control" type="text"
                             placeholder="Adress">
                             <div *ngIf="GetInputStatues('Adress-in-details')!.invalid"
                              class="text-danger">
                                Adress in details is a required field.
                            </div>
                        </div>
                        <div *ngIf="errorAddingAdd" class="alert alert-danger">
                            Please Fill All Fields, All Fields Are Required.
                        </div>
                    <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary"
                     (click)="postAdd(addAdvertForm)">Post</button>
                </div>
            </form>
            
        </div>
    </div>
    
</section>

<app-footer></app-footer>