<div class="container-fluid" id="firstview">
    <div class="row" id="row-one">
      <div class="col-lg-6 col-md-12 text-center">
        <p class="lead text-left" id="title">GlobalOn The Name You Can Trust</p>
        <p id="subtitle">GlobalOn is the leading classifieds website for users in the UAE since its launch, GlobalON has become the number one platform for users to buy, sell, or find anything in thier community</p>
        
          <button id="buttontitle" (click)="goToPost()">Post An Ads</button>
       
      </div>
      <div class="col-lg-6 col-md-12" id="secondview">
          <img src="assets/Images/Screenshot (11).png">
          <img src="assets/Images/Screenshot (12).png">
        </div>
      </div>
    </div>
