<div class="container-fluid" id="firstview" style="padding-bottom: 2em;">
    <div class="row" id="row-one">
      <div class="col-lg-8 col-md-12 text-center">
        <p class="lead text-left" id="title">The most powerful market for buying and selling in the UAE</p>
        
        
        <form class="form-inline text-center">
            <input class="form-control  mediasmall input-lg" [placeholder]="advertTitle" type="search" id="search-form">

            <button class="btn btn-danger" style="padding: 1em 1.5em;"><i class="fa fa-search"></i></button>
        </form>
       
      </div>
      <div class="col-lg-4 col-md-12" id="secondview">
          <img src="assets/Images/Screenshot (11).png">

        </div>
      </div>
    </div>