#second-ads{
    margin-top: 5em !important;
}
.card {
    cursor: pointer !important;
}
.slide-tt{

    display: flex;
    font-weight: 600;
    font-size: 45px;
    border-left: 14px solid #d52c38;
    padding: 12px 10px;
    text-align: left !important;
    margin-bottom: .5em;
}

.card-body {
    
    padding: 0 !important;
}





.card-p{
    display: flex;
}
.card-child-one{
    width: 50%;
    
    height: 25vh;
    display: flex;
     
    flex-direction: column;
    align-items: flex-start !important;
    margin-left: 5px;
}

.card-child-two{
    width: 50%;
    
    height: 30vh;
    display: flex;
    
    flex-direction: column;
    align-items: flex-end !important;
    margin-right: 5px !important;
}

#avatar{
    width: 20px;
    border-radius: 20px;
}

.card-child-one p:first-of-type{
    font-weight: 500;
    
}

.card-child-one p:nth-of-type(2){
    color: #a2a0a0;
    font-size: 14px;
}

.card-child-one span{
    color: #a2a0a0;
    font-size: 14px;
    
}

.card-child-one button{
    font-size: 12px;
    margin-top: 1.5em;
}

.card-child-two p:first-of-type{
    font-weight: 500;
    color: #ba212c;
}

.card-child-two p:nth-of-type(2){
    color: #a2a0a0;
    font-size: 14px;
}

.card-child-two button{
    font-size: 12px;
    margin-top: 3.5em;
    width: 120px;
}
.card img{
    width: 338px !important;
    height: 275px !important;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.card-body {
    
    padding: 0 !important;
}
@media (max-width:1319px) and (min-width:1138px){
    #first-nav li:first-of-type {
        margin-left: 5em;
    }
    #first-nav li{
        margin-left: 2em;
    }
    #second-nav li {
        margin-right: 1.2em;
    }
    #secondview img{
         margin-left: 1em;
    }
    
}
@media(max-width:1137px) and (min-width:992px){
    #first-nav li:first-of-type {
        margin-left: 5.5em;
    }
    #first-nav li{
        margin-left: .5em;
    }
    #second-nav li {
        margin-right: .4em;
    }
    #secondview img{
        height: 59vh;
        margin-top: 3em;
        margin-left: 2em;
    }
    #p-footer{
        font-size: 1.2em;
    }
    
}

@media(max-width:991px){
    #secondtitle{
        display: block;
    }
    #secondview img{
        display: none;
    }

    #title{
        text-align: center !important;
    }
    #first-nav li:first-of-type {
        margin-left: 5.5em;
    }
    #first-nav li{
        margin-left: 5.5em;
    }


    #second-nav p{
        margin-left: 5.5em;
    }
    #second-nav button{
        margin-left: 5.5em;
    }

    .btn-media{
        margin-top: 5px;
    }

    .slide-tt {
   
        font-size: 35px;
      
        padding: 5px 10px;

        
    }
    #photo-ads{
        display: none;
    }

    .ads-text{
        flex: 1 0 50%;
        max-width: 100%;
    }
}
@media(max-width:992px) and (min-width:767px){
    .card-child-one p:first-of-type,.card-child-two p:first-of-type {
        
        font-size: .9em;
    }
    .card-child-one p:nth-of-type(2),
    .card-child-one span,
    .card-child-two p:nth-of-type(2) {
        
        font-size: 10px;
    }
    .card-child-one button,
    .card-child-two button{
        font-size: 8px;
        margin-top: 3.5em;
    width: 90px;
    }  
    .card-child-two button{
        margin-top: 6.5em !important;
    }
    #p-footer{
        font-size: 1em;
    }

    #foot-icons svg{
        width: 3vw;
        height: 4vh;
        padding: 3px;
    }
}
@media(max-width:767px){
    #foot-icons svg{

        width:5vw;
    }
    #footer div h4{
        margin-top: 2em;
    }
    
}