<app-home-header></app-home-header>
<div class="main-cont">
    <div class="first-main-cont text-center" style="margin-top: 45px;">
      <img [src]="imgSrc" style="width: 25%; height: auto;">
        <h4>{{user}}</h4>
        <h5 style="font-weight: 350 !important;">{{userEmail}}</h5>
        <div class="text-left">
            <a class="dropdown-item" href="/my-profile"><i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#"><i class="fa fa-bell"></i> Notification</a>
            <a class="dropdown-item" href="/my-adds"><i class="fa fa-bullhorn"></i> My Ads</a>
            <a class="dropdown-item active-item" href="/my-favourites"><i class="fa fa-heart"></i> My Favourite</a>
            <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Chats</a>
            <a class="dropdown-item" href="#"><i class="fa fa-cogs"></i> Setting</a>
            <a class="dropdown-item" (click)="Logout()" style="cursor: pointer">
                <i class="fa fa-sign-out"></i> Logout</a>
          </div>
    </div>
    <div class="second-main-cont">
      <div class="container-fliud">
        <div *ngIf="noData" style="margin-left: 17%;">
          <h1>No Favourite Adverts Till Now...</h1>
        </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let advert of myFavAdds">
              <div class="card-deck" (click)="showAdvertDetails(advert)">
                <div class="card" >
                  <img class="img-fluid" *ngIf="advert.Pictures.length == 0" src="assets/Images/no-image.jpg">
                    <img class="img-fluid" *ngIf="advert.Pictures.length > 0" [src]="advert.Pictures[0].URL">
                  <div class="card-body">
                    <div class="card-p" style="height:148px; width: auto;">
                      <div class="card-child-one d-flex">
                        <p class="lead" style="font-size: 1.1rem; margin-left: 0px !important;">{{advert.Title}}</p>
                        <p class="p-fix"><i class="fa fa-map-marker"></i>&nbsp;{{advert.Address}}</p>
                        <div>
                          <span><i class="fa fa-user"></i>&nbsp;{{advert.AdvertiseName}}</span>
                        </div>
                      </div>
                      <div class="card-child-two">
                        <p class="lead">{{advert.Price}} EGP</p> 
                        <p> <i class="fa fa-clock-o"></i>&nbsp;{{editDate(advert.CreationDate)}}</p>
                        
                      </div>
                    </div>
                  <div class="card-footer justify-content-center align-content-center">
                    <button  type="button" class="btn btn-danger">Send message <i class="fa fa-envelope"></i></button>
                    <button style="float: right;"  type="button" class="btn btn-danger">Call Me <i class="fa fa-phone"></i></button>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          </div>
          <div class="d-flex justify-content-end p-2 w-100 mt-5">
            <mat-toolbar-row>
                <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="handleOnPageChange($event)">
                </mat-paginator>
            </mat-toolbar-row>
        </div>
      </div>
      
      </div>
      </div>
